@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Boxsize.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BoxsizeTableToolbar" role="group">
                            @if(shiro.hasPermission("/boxsize/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Boxsize.openAddBoxsize()"/>
                            @}
                            @if(shiro.hasPermission("/boxsize/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Boxsize.openBoxsizeDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/boxsize/enable")){
                                <#button name="启用" icon="fa-youtube-play" clickFun="Boxsize.enable()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/boxsize/disable")){
                            <#button name="禁用" icon="fa-stop" clickFun="Boxsize.disable()" space="true"/>
                            @}
                        </div>
                        <#table id="BoxsizeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/boxsize/boxsize.js"></script>
@}
