@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" type="hidden"/>
                            <#input id="waybilldetid" name="运单详情号" value="${item.waybilldetid}" underline="true"/>
                            <#input id="waybillid" name="运单号" value="${item.waybillid}" underline="true"/>
                            <#input id="boxid" name="集装箱号" value="${item.boxid}" underline="true" onchange="Onchange(this.options[this.options.selectedIndex].value)"/>
                            <#input id="boxtype" name="集装箱类型" value="${item.boxtype}" underline="true"/>
                            <#input id="boxsize" name="集装箱大小" value="${item.boxsize}" />
                </div>

                <div class="col-sm-6">
                            <#input id="boxgoods" name="集装箱所装货物" value="${item.boxgoods}" underline="true"/>
                            <#input id="operation" name="操作" value="${item.operation}" underline="true"/>
                            <#input id="createtime" name="创建时间" value="${item.createtime}" underline="true"/>
                            <#input id="statecode" name="状态码" value="${item.statecode}" underline="true"/>
                            <#input id="finish" name="完成状态" value="${item.finish}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BusiWaybilldetInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BusiWaybilldetInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/busiWaybilldet/busiWaybilldet_info.js"></script>
<script type="text/javascript">
    var fo = document.getElementById("waybillid").focus();
    BusiWaybilldetInfoDlg.getBoxCode();
</script>
@}
