@layout("/common/_container.html"){
<link href="${ctxPath}/static/modular/system/updown/bootstrap-select.min.css" rel="stylesheet" />

<script src="${ctxPath}/static/modular/system/updown/bootstrap-select.min.js"></script>
<script src="${ctxPath}/static/modular/system/updown/defaults-zh_CN.min.js"></script>

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#select id="trantype" name="运输方式" >
                    <option id="trantypeHelp" value="">请选择运输方式</option>
                    <option value="0">海运</option>
                    <option value="1">铁运</option>
                </#select>
                <div class="hr-line-dashed"></div>
                <#select id="endpoint" name="终点" >
                    <option id="endpointHelp" value="">请选择运输终点</option>
                 </#select>
            <div class="hr-line-dashed"></div>
            <#select id="ordernumber" name="订单编号" >
                <option id="ordernumberHelp" value="">请选择订单</option>
            </#select>
            <div class="hr-line-dashed"></div>
            <#select id="boxtype" name="箱型选择" >
                <option id="boxtypeHelp" value="">请选择箱型</option>
            </#select>
            <div class="hr-line-dashed"></div>
    <#input id="recphone" type="hidden" name="" />
    <#input id="recpeople" type="hidden" name="" />

    </div>

    <div class="col-sm-6">

        <div class="form-group">
            <label class="col-sm-3 control-label">集装箱</label>
            <div class="col-sm-9">
                <select id="boxcode" class="selectpicker form-control" multiple data-live-search="true" data-selected-text-format="count > 6" title="请选择集装箱">
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <#select id="areaid" name="接箱场地" >
        <option id="areaidHelp" value="">请选择堆放场地</option>
        </#select>
        <div class="hr-line-dashed"></div>
        <#input id="optime" name="操作时间" underline="true"/>
        <#input id="oppeople" name="操作人" underline="true" />
        <#input id="optype" type="hidden" name="" value="1"/>
        <#input id="id" type="hidden" name=""/>
        <#input id="optype" type="hidden" name="" value="1"/>
</div>
</div>

<div class="row btn-group-m-t">
    <div class="col-sm-10">
        <#button btnCss="info" name="确定" id="ensure" icon="fa-check" clickFun="UpdownInfoDlg.cloadSubmit()"/>
        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UpdownInfoDlg.close()"/>
    </div>
</div>
</div>

</div>
</div>
<script src="${ctxPath}/static/modular/system/updown/updown_info.js"></script>
<script>
    $(function() {

        /*
         * 日期选择器
         */
        laydate.render({
            elem: '#optime'
            ,type:'datetime'
        });

        /*
         * 订单一级级联
         */
        $('#trantype').change(function () {
            var ajax = new $ax(Feng.ctxPath + "/updown/getendpoints",
                function(data) {
                    $('#endpoint').empty();
                    $('#endpoint').append('<option id="endpointHelp" value="">请选择运输终点</option>');
                    $('#ordernumber').empty();
                    $('#ordernumber').append('<option id="ordernumberHelp" value="">请选择订单</option>');
                    if($('#trantype').val()==='0')
                    {
                        for(var i=0;i<data.length;i++){
                            $('#endpoint').append('<option value='+data[i].id+'>'+data[i].harbourname+'</option>');
                        }
                    }
                    else{
                        for(var i=0;i<data.length;i++){
                            $('#endpoint').append('<option value='+data[i].id+'>'+data[i].name+'</option>');
                        }
                    }
                },
                function(data){
                    Feng.error("动态获取数据出错，请检查网络");
                });
            ajax.set("trantype",$(this).val());
            ajax.start();
        });

        /*
         * 订单二级级联
         */
        $('#endpoint').change(function () {
            var ajax = new $ax(Feng.ctxPath + "/updown/getordernumbers",
                function(data){
                    $('#ordernumber').empty();
                    $('#ordernumber').append('<option id="ordernumberHelp" value="">请选择订单</option>');
                    for(var i=0;i<data.length;i++){
                        $('#ordernumber').append('<option value='+data[i].ordernumber+'>'+data[i].ordernumber+'</option>');
                    }
                },
                function(data){
                    Feng.error("动态获取数据出错，请检查网络");
                });
            ajax.set("trantype",$('#trantype').val());
            ajax.set("endpoint",$(this).val());
            ajax.start();
        });

        /*
         * 集装箱类型初始化
         */
        var boxtypeinit=function () {
            var ajax = new $ax(Feng.ctxPath + "/updown/getboxtypes",
                function(data){
                    for(var i=0;i<data.length;i++){
                        $('#boxtype').append('<option value='+data[i].id+'>'+data[i].type+'</option>');
                    }
                },
                function(data){
                    Feng.error("");
                });
            ajax.set();
            ajax.start();
        };
        boxtypeinit();

        /*
         * 集装箱级联
         */
        $('#boxtype').change(function () {
            var ajax = new $ax(Feng.ctxPath + "/updown/getboxcodes",
                function(data){
                    $('#boxcode').empty();
                    for(var i=0;i<data.length;i++){
                        $('#boxcode').append('<option value='+data[i].boxcode+'>'+data[i].boxcode+'</option>');
                    }
                    $('#boxcode').selectpicker('refresh');
                    $('#boxcode').selectpicker('render');
                },
                function(data){
                    Feng.error("动态获取数据出错，请检查网络");
                });
            ajax.set("boxtype",$(this).val());
            ajax.start();
        });

        /*
         * 场地初始化
         */
        var areainit=function () {
            var ajax = new $ax(Feng.ctxPath + "/updown/getareas",
                function(data){
                    for(var i=0;i<data.length;i++){
                        $('#areaid').append('<option value='+data[i].id+'>'+data[i].areatype+'</option>');
                    }
                },
                function(data){
                    Feng.error("动态获取数据出错，请检查网络");
                });
            ajax.set();
            ajax.start();
        };
        areainit();

        /*
         * 箱型列表动态
         */
        $('#boxtype').change(function () {
            $(this).find('#boxtypeHelp').remove();
        });

        /*
         * 订单列表动态
         */
        $('#ordernumber').change(function () {
            $(this).find('#ordernumberHelp').remove();
        });

        /*
         * 场地列表动态
         */
        $('#areaid').change(function () {
            $(this).find('#areaidHelp').remove();
        });

        /*
         * 运输终点动态
         */
        $('#endpoint').change(function () {
            $(this).find('#endpointHelp').remove();
        });

        /*
         * 运输方式动态
         */
        $('#trantype').change(function () {
            $(this).find('#trantypeHelp').remove();
        });
    });
</script>
@}
