@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="自增ID" underline="true"/>
                            <#input id="oldArea" name="原 火车 轮船 场地 编号" underline="true"/>
                            <#input id="newArea" name="目的场地" underline="true"/>
                            <#input id="boxCode" name="箱子编码"/>
                </div>

                <div class="col-sm-6">
                            <#input id="operTime" name="操作时间" underline="true"/>
                            <#input id="operPerson" name="操作人" underline="true"/>
                            <#input id="opeType" name="操作类型" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BusiMoveInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BusiMoveInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/busiMove/busiMove_info.js"></script>
@}
