@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#SelectCon id="select" name="显示选择" >
                                    <option value="0">空箱</option>
                                    <option value="1">已装箱</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="condition" name="集装箱编号" />
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="Box.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BoxTableToolbar" role="group">
                            @if(shiro.hasPermission("/box/add")){
                                <#button name="添加空箱" icon="fa-plus" clickFun="Box.openAddBox()"/>
                            @}
                            @if(shiro.hasPermission("/box/update")){
                                <#button name="场位移动" icon="fa-edit" clickFun="Box.openBoxDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/box/delete")){
                                <#button name="移除废箱" icon="fa-remove" clickFun="Box.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="BoxTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/box/box.js"></script>
<script>
    $('#select').change(function () {
        Box.search();
    });
</script>
@}
