@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="boxInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="boxcode" name="集装箱码" underline="true"/>
                    <#input id="addtime" name="添加时间" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#select id="boxtype" name="箱型选择" >
                        <option id="boxtypeHelp" value="">请选择箱型</option>
                    </#select>
                    <div class="hr-line-dashed"></div>
                    <#select id="boxsize" name="尺寸选择" >
                        <option id="boxsizeHelp" value="">请选择箱型</option>
                    </#select>
                    <div class="hr-line-dashed"></div>
                    <#select id="statecode" name="状态码" >
                        <option value="1">已启用</option>
                        <option value="0">已禁用</option>
                    </#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BoxInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BoxInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/box/box_info.js"></script>
<script>
    $(function() {

        /*
         * 日期选择器
         */
        laydate.render({
            elem: '#addtime'
            ,type:'datetime'
        });

        /*
         * 集装箱类型初始化
         */
        var boxtypeinit=function () {
            var ajax = new $ax(Feng.ctxPath + "/updown/getboxtypes",
                function(data){
                    for(var i=0;i<data.length;i++){
                        $('#boxtype').append('<option value='+data[i].id+'>'+data[i].type+'</option>');
                    }
                },
                function(data){
                    Feng.error("请检查网络");
                });
            ajax.set();
            ajax.start();
        };
        boxtypeinit();

        /*
         * 集装箱类型初始化
         */
        var boxtsizeinit=function () {
            var ajax = new $ax(Feng.ctxPath + "/updown/getboxsizes",
                function(data){
                    for(var i=0;i<data.length;i++){
                        $('#boxsize').append('<option value='+data[i].sizecode+'>'+data[i].sizecode+'</option>');
                    }
                },
                function(data){
                    Feng.error("请检查网络");
                });
            ajax.set();
            ajax.start();
        };
        boxtsizeinit();


        /*
         * 箱型列表动态
         */
        $('#boxtype').change(function () {
            $(this).find('#boxtypeHelp').remove();
        });
        /*
         * 尺寸列表动态
         */
        $('#boxsize').change(function () {
            $(this).find('#boxsizeHelp').remove();
        });

    });
</script>
@}
