@layout("/common/_container.html"){
<script src="${ctxPath}/static/js/plugins/echarts.min.js"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>船舶航次统计</h5>
            </div>
            <div id="voyageshipchart" style="width: 100%;height:380px;"></div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/js/plugins/echarts/echarts.min.js"></script>
<script>
    // 基于准备好的dom，初始化echarts实例
    var mychart = echarts.init(document.getElementById('voyageshipchart'));
    function chart(mychart){
        $.ajax({
            contentType : "application/json",
            type : "post",
            url : Feng.ctxPath + "/VoyageshipChart/list/",
            data:{},
            dataType : "json",
            success : function(data) {
                var x=[];
                var y=[];
                for(var i=0;i<data.length;i++){
                    var obj=new Object();
                    obj.value=data[i][0];
                    x[i]=obj;
                }
                for(var i=0;i<data.length;i++){
                    var obj=new Object();
                    obj.value=data[i][1];
                    y[i]=obj;
                }
                mychart.setOption({
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data: x
                    },
                    series: [
                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: function(params) {
                                        // build a color map as your need.
                                        var colorList = [
                                            '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                                            '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                                            '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                                        ];
                                        return colorList[params.dataIndex]
                                    }
                                }
                            },
                            data: y

                        }
                    ]

                });

            }
        });

    }

    chart(mychart);

</script>
@}