@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="voyagedetForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="voyagedetid" name="航次详情编号" underline="true" readonly="true"/>
                    <#select id="voyagenum" name="航次号" underline="true"/>
                    <#select id="boxid" name="集装箱号" underline="true"/>
                    <#input id="boxtype" name="集装箱类型" underline="true"/>
                    <#input id="boxsize" name="集装箱尺寸" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <!--<#input id="statecode" name="状态码" underline="true"/>-->
                    <#input id="boxgoods" name="集装箱所装货物" underline="true"/>
                    <#input id="createtime" name="创建时间" underline="true" readonly="true"/>
                    <#input id="operation" name="装/卸种类" underline="true"/>
                    <#input id="finish" name="是否完成" underline="true"  readonly="true" value="未完成"/>
                    <div  class="col-sm-6 b-r" style="align:center;width:50%">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="VoyagedetInfoDlg.createSubmit()"/>
                    </div>
                    <div  class="col-sm-6 b-r" style="align:center;width:50%">
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="VoyagedetInfoDlg.close()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload=function newid() {
        //获取年月日
        var time = new Date();
        var year = time.getFullYear();
        var month = time.getMonth()+1;
        var day = time.getDate();
        //获取时分秒
        var h = time.getHours();
        var m = time.getMinutes();
        var s = time.getSeconds();
        //检查是否小于10
        h = check(h);
        m = check(m);
        s = check(s);
        month = check(month);
        day = check(day);
        document.getElementById("voyagedetid").value = "Y" + year + month + day + h + m + s;
        document.getElementById("createtime").value = year + "-" + month + "-" + day;
    }
    //时间数字小于10，则在之前加个“0”补位。
    function check(i){
        //方法一，用三元运算符
        var num;
        i<10?num="0"+i:num=i;
        return num;
    }
</script>

<script src="${ctxPath}/static/modular/system/voyagedet/voyagedet_info.js"></script>
<script type="text/javascript">
    var fo = document.getElementById("voyagenum").focus();
    VoyagedetInfoDlg.getBoxCode();
    VoyagedetInfoDlg.getVoyageNum();
</script>
@}
