@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="voyagedetForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="ID" value="${item.id}" underline="true" readonly="readonly"/>
                    <#input id="voyagedetid" name="航次详情编号" value="${item.voyagedetid}" underline="true"/>
                    <#input id="voyagenum" name="航线编号" value="${item.voyagenum}" underline="true"/>
                    <#select id="boxid" name="集装箱号" value="${item.boxid}" underline="true"/>
                    <#input id="boxtype" name="集装箱类型" value="${item.boxtype}" underline="true" readonly="true"/>
                    <#input id="boxsize" name="集装箱尺寸" value="${item.boxsize}" underline="true" readonly="true"/>
                </div>

                <div class="col-sm-6">
 <!--                   <#input id="statecode" name="状态码" value="${item.statecode}" underline="true"/>-->
                    <#input id="boxgoods" name="集装箱所装货物" value="${item.boxgoods}" underline="true" readonly="true"/>
                    <#input id="createtime" name="创建时间" value="${item.createtime}" underline="true" readonly="true"/>
                    <#input id="operation" name="装/卸种类" value="${item.operation}" underline="true"/>
                    <#input id="finish" name="是否完成" value="${item.finish}" underline="true"/>
                    <div  class="col-sm-6 b-r" style="align:center;width:50%">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="VoyagedetInfoDlg.editSubmit()"/>
                    </div>
                    <div  class="col-sm-6 b-r" style="align:center;width:50%">
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="VoyagedetInfoDlg.close()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/voyagedet/voyagedet_info.js"></script>
<script type="text/javascript">
    var fo = document.getElementById("voyagenum").focus();
    VoyagedetInfoDlg.getBoxCode();
</script>
@}
