@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>场地业务操作模块管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="BusiAreaMove.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BusiAreaMoveTableToolbar" role="group">
                            @if(shiro.hasPermission("/busiAreaMove/add")){
                                <#button name="添加" icon="fa-plus" clickFun="BusiAreaMove.openAddBusiAreaMove()"/>
                            @}
                            @if(shiro.hasPermission("/busiAreaMove/update")){
                                <#button name="修改" icon="fa-edit" clickFun="BusiAreaMove.openBusiAreaMoveDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/busiAreaMove/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="BusiAreaMove.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="BusiAreaMoveTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/busiAreaMove/busiAreaMove.js"></script>
@}
