@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>操作记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="BusiRecord.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BusiRecordTableToolbar" role="group">
                            @if(shiro.hasPermission("/busiRecord/add")){
                                <#button name="添加" icon="fa-plus" clickFun="BusiRecord.openAddBusiRecord()"/>
                            @}
                            @if(shiro.hasPermission("/busiRecord/update")){
                                <#button name="修改" icon="fa-edit" clickFun="BusiRecord.openBusiRecordDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/busiRecord/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="BusiRecord.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="BusiRecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/busiRecord/busiRecord.js"></script>
@}
