@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="harbourcode" name="港口号" value="${item.harbourcode}" underline="true"/>
                            <#input id="harbourname" name="港口名称" value="${item.harbourname}" underline="true"/>
                            <#input id="country" name="国家" value="${item.country}" underline="true"/>
                            <#input id="province" name="省份" value="${item.province}" underline="true"/>
                            <#input id="city" name="城市" value="${item.city}" underline="true"/>
                            <#input id="shipnum" name="轮船数量" value="${item.shipnum}" />
                </div>

                <div class="col-sm-6">
                            <#input id="shipnum" name="轮船数量" value="${item.shipnum}" underline="true" />
                            <#input id="volume" name="场地容量" value="${item.volume}" />
                            <#input id="statecode" name=""  type="hidden" value="${item.statecode}" />
                            <#input id="id" name="" type="hidden"  value="${item.id}" />
                            <#input id="spare1" name="" type="hidden" value="${item.spare1}"   />
                            <#input id="spare2" name=""  type="hidden"  value="${item.spare2}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="HarbourInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="HarbourInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/harbour/harbour_info.js"></script>
@}