@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="waybillid" name="运单号" underline="true" readonly="true"/>
                    <#select name="车次" id="trainnum" underline="true"/>
                    <#input id="starttime" name="开始时间" underline="true" readonly="true"/>
                    <#input name="集装箱数" id="boxnumber" underline="true"/>
                    <#input id="statecode" name="状态码" value="0" underline="true" readonly="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="startpoint" name="起点" underline="true" value="7" readonly="true"/>
                    <#select id="endpoint" name="终点" underline="true"/>
                    <#input id="distance" name="距离" underline="true"/>
                    <#input id="loadcode" name="装货码" underline="true" value="1" readonly="true"/>
                    <#input id="unloadcode" name="卸货码" underline="true" value="0" readonly="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BusiWaybillInfoDlg.createSubmit()"/>
                </div>
                <div class="col-sm-1">
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BusiWaybillInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    window.onload=function newid()
    {
        var id =Date.now();
        document.getElementById("waybillid").value="t"+id;
        //获取年月日
        var time = new Date();
        var year = time.getFullYear();
        var month = time.getMonth()+1;
        var day = time.getDate();
        //获取时分秒
        var h = time.getHours();
        var m = time.getMinutes();
        var s = time.getSeconds();
        //检查是否小于10
        h = check(h);
        m = check(m);
        s = check(s);
        month = check(month);
        day = check(day);
        document.getElementById("starttime").value = year + "-" + month + "-" + day+ " "+h +":"+ m +":"+ s;
    }
    //时间数字小于10，则在之前加个“0”补位。
    function check(i){
        //方法一，用三元运算符
        var num;
        i<10?num="0"+i:num=i;
        return num;
    }

</script>

<script src="${ctxPath}/static/modular/system/busiWaybill/busiWaybill_info.js"></script>
<script type="text/javascript">
    BusiWaybillInfoDlg.getTrainId();
    BusiWaybillInfoDlg.getEndStationId();
    var fo = document.getElementById("trainnum").focus();
</script>
@}