@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="sizeid" name="" underline="true"/>
                            <#input id="cttype" name="" underline="true"/>
                            <#input id="inlength" name="" underline="true"/>
                            <#input id="inwidth" name="" underline="true"/>
                            <#input id="inheight" name="" underline="true"/>
                            <#input id="outheight" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="outwidth" name="" underline="true"/>
                            <#input id="volume" name="" underline="true"/>
                            <#input id="capacity" name="" underline="true"/>
                            <#input id="state" name="" underline="true"/>
                            <#input id="boxcode" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CtsizeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CtsizeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/webSys/ctsize/ctsize_info.js"></script>
@}
