@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="boxsizeInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="箱子ID" value="${item.id}" readonly="readonly"/>
                    <#input id="boxcode" name="箱子编号" value="${item.boxcode}" underline="true" readonly="readonly"/>
                    <#select id="areaid" name="接箱场地" >
                    <option id="areaidHelp" value="">请选择堆放场地</option>
                    </#select>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AreaboxInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AreaboxInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/areabox/areabox_info.js"></script>
<script>
    /*
         * 场地初始化
         */
    var areainit=function () {
        var ajax = new $ax(Feng.ctxPath + "/updown/getareas",
            function(data){
                for(var i=0;i<data.length;i++){
                    $('#areaid').append('<option value='+data[i].id+'>'+data[i].areatype+'</option>');
                }
            },
            function(data){
                Feng.error("动态获取数据出错，请检查网络");
            });
        ajax.set();
        ajax.start();
    };
    areainit();

    /*
        * 场地列表动态
        */
    $('#areaid').change(function () {
        $(this).find('#areaidHelp').remove();
    });

</script>
@}
