@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="boxsizeInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="箱子ID" value="${item.id}" />
                    <#input id="boxcode" name="箱子编号" value="${item.boxcode}" underline="true"/>
                    <#input id="areaid" name="所在场地" value="${item.areaid}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AreaboxInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AreaboxInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/areabox/areabox_info.js"></script>
@}
