@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal"    id="dictStationInfoForm" >

            <div class="row">
                <div class="col-sm-6 b-r">


                            <#input id="name" name="站点名称" value="${item.name}" />
                    <#input id="stationid" name="" type="hidden"  value="${item.stationid}"  />


                </div>

                <div class="col-sm-6">
                         <#input id="province" name="省份" value="${item.province}" underline="true"/>

                    <#input id="statecode" type="hidden" name="" value="${item.statecode}" />
                            <#input id="id" type="hidden" name="" value="${item.id}"  />


                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DictStationInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DictStationInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/dictStation/dictStation_info.js"></script>
@}
