@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="goodsForm">

            <div class="row">
                <div class="col-sm-6 b-r">

                            <#input id="goodstype" name="货物类型" value="${dictGoodstype.goodstype}" underline="true"/>

                </div>

                <div class="col-sm-6">
                           <#input id="statecode" name="" type="hidden" value="${dictGoodstype.statecode}" readonly="true" />
                               <#input id="id" name="" type="hidden" value="${dictGoodstype.id}"  />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DictGoodstypeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DictGoodstypeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/webSys/dictGoodstype/dictGoodstype_info.js"></script>
@}
