@layout("/common/_container.html"){
<!-- plugins:css -->
<link rel="stylesheet" href="${ctxPath}/static/thome/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="${ctxPath}/static/thome/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="${ctxPath}/static/thome/css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="${ctxPath}/static/thome/images/favicon.png"/>
<div class="container-fluid" style="padding: 0 !important;">
    <!--开始-->
    <div class="row">
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" style="padding: 0px 20px;height: 100%">
                <div class="row">
                    <div class="col-md-3 stretch-card grid-margin">
                        <div class="card bg-gradient-danger card-img-holder text-white">
                            <div class="card-body">
                                <img src="${ctxPath}/static/thome/images/dashboard/circle.svg" class="card-img-absolute"
                                     alt="circle-image"/>
                                <h1 class="font-weight-normal mb-3">当月进货量
                                    <i class="mdi mdi-airplane-landing mdi-24px float-right"></i>
                                </h1>
                                <h2 class="mb-5" id="monthIn"></h2>
                                <h3 class="card-text" id="allIn">总进货量</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 stretch-card grid-margin">
                        <div class="card bg-gradient-info card-img-holder text-white">
                            <div class="card-body">
                                <img src="${ctxPath}/static/thome/images/dashboard/circle.svg" class="card-img-absolute"
                                     alt="circle-image"/>
                                <h1 class="font-weight-normal mb-3">当月出货量
                                    <i class="mdi  mdi-airplane-takeoff mdi-24px float-right"></i>
                                </h1>
                                <h2 class="mb-5" id="monthOut"></h2>
                                <h3 class="card-text" id="allOut">总出货量</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 stretch-card grid-margin">
                        <div class="card bg-gradient-success card-img-holder text-white">
                            <div class="card-body">
                                <img src="${ctxPath}/static/thome/images/dashboard/circle.svg" class="card-img-absolute"
                                     alt="circle-image"/>
                                <h1 class="font-weight-normal mb-3">现存货箱数
                                    <i class="mdi mdi-package-variant-closed  mdi-24px float-right"></i>
                                </h1>
                                <h2 class="mb-5"id="nowBoxesNum"></h2>
                                <h3 class="card-text"id="flue">流通货箱数</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 stretch-card grid-margin">
                        <div class="card bg-gradient-primary card-img-holder text-white">
                            <div class="card-body">
                                <img src="${ctxPath}/static/thome/images/dashboard/circle.svg" class="card-img-absolute"
                                     alt="circle-image"/>
                                <h1 class="font-weight-normal mb-3">当月订单数
                                    <i class="mdi mdi-checkbox-marked-circle-outline  mdi-24px float-right"></i>
                                </h1>
                                <h2 class="mb-5"id="monthOrder"></h2>
                                <h3 class="card-text"id="allOrder">总订单数</h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="card-body" style="height: 400px">
                <iframe runat="server" src="${ctxPath}/showEchart/china" width="100%" height="100%"
                        frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"
                style="border-radius: 1em; "></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body" style="height: 400px">
                <iframe runat="server" src="${ctxPath}/showEchart/world" width="100%" height="100%"
                        frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"
                        style="border-radius: 1em; "></iframe>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $.ajax({
            url:"${ctxPath}/getInfoHome/homeInfo",
            success:function (data) {
                console.log(data);
                $("#monthIn").text(data[0]+"箱");
                $("#allIn").text("总进货量"+data[1]+"箱");
                $("#monthOut").text(data[2]+"箱");
                $("#allOut").text("总出货量"+data[3]+"箱");
                $("#nowBoxesNum").text(data[4]+"箱");
                $("#flue").text("月净货流"+data[5]+"箱");
                $("#monthOrder").text(data[6]+"单");
                $("#allOrder").text("总订单量"+data[7]+"单");

            }
        })
    })
</script>
@}
