@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="busForm">

            <div class="row">
                <div class="col-sm-6 b-r">

                            <#input id="ordernumber" name="订单编号" value="${item[0].ordernumber}" underline="true" readonly="true"/>
                            <#input id="goodstype" name="货物类型" value="${item[0].goodstypeName}" underline="true"   readonly="true"/>
                            <#input id="goodsname" name="货物名称" value="${item[0].goodsname}" underline="true"    readonly="true"/>
                            <#input id="goodsvolume" name="货物容量(单位：吨)" value="${item[0].goodsvolume}" underline="true"  readonly="true"/>
                            <#input id="recephone" name="收货方电话" value="${item[0].recephone}" underline="true"  readonly="true"/>
                            <#input id="receiver" name="收货方" value="${item[0].receiver}" underline="true"   readonly="true"/>
                            <#input id="trantype"  name= "运输方式" value="${item[0].transName}" underline="true"  readonly="true"/>

                </div>

                <div class="col-sm-6">
                            <#input  name="站点/港口" id="endpoint" type="text" value="${item[0]. endpointName}" underline="true"  readonly="true"/>
                            <#input id="consiphone" name="发货方电话" value="${item[0].consiphone}" underline="true"  readonly="true"/>
                            <#input id="consignor" name="发货方" value="${item[0].consignor}" underline="true"  readonly="true"/>
                            <#input id="creationtime" name="创建时间" value="${item[0].creationtime}" underline="true" readonly="true"  readonly="true"/>
                            <#input id="ordercode" name="状态" value="${item[0].stateName}" underline="true"   readonly="true"/>
                            <#input id="note" name="备注" value="${item[0].note}" underline="true"  readonly="true"/>
                              <#input id="id" name="" type="hidden" value="${item[0].id}"  />

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="danger" name="确认" id="cancel" icon="fa-eraser" clickFun="BusiOrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/webSys/busiOrder/busiOrder_info.js"></script>
@}
