@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="busForm">

            <div class="row">
                <div class="col-sm-6 b-r">

                            <#input id="ordernumber" name="订单编号" underline="true" readonly="true"/>
                            <#select  id="goodstype" name="货物类型" underline="true"/>
                            <#input id="goodsname" name="货物名称" underline="true"/>
                            <#input id="goodsvolume" name="货物容量(单位：吨)" underline="true"/>
                            <#input id="recephone" name="收货方电话" underline="true"/>
                            <#input id="receiver" name="收货方"/>
                            <#select id="trantype"  onchange="BusiOrderInfoDlg.getfirst1()" name="运输方式" underline="true">
                              <option value="">-- --</option>
                             <option value="1">陆运</option>
                             <option value="0">海运</option>
                            </#select>

               </div>
                <div class="col-sm-6">

                            <#select name="站点/港口" id="endpoint"   onchange="BusiOrderInfoDlg.choose()" underline="true"/>
                            <#input id="consiphone" name="发货方电话" underline="true"/>
                            <#input id="consignor" name="发货方" underline="true"/>
                            <#input id="creationtime" name="创建时间" underline="true"  readonly="true" />

                            <#input id="note" name="备注" underline="true"/>
                            <#input id="ordercode" name="" underline="true"   readonly="true" type="hidden" />
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BusiOrderInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BusiOrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
       //使用jquery的ready方法似的加载运行



    window.onload=function newGuid()
    {
        var guid =Date.now();
        document.getElementById("ordernumber").value= "T"+guid;
        // t=new Date();
        // document.getElementById("creationtime").value=t;
        var now = new Date();
        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日
        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
        var clock = year + "-";
        if(month < 10)
            clock += "0";
        clock += month + "-";
        if(day < 10)
            clock += "0";
        clock += day + " ";
        if(hh < 10)
            clock += "0";
        clock += hh + ":";
        if (mm < 10) clock += '0';
        clock += mm;
        document.getElementById("creationtime").value=clock;
        document.getElementById("ordercode").value=0;
        BusiOrderInfoDlg.getGoodsId();

    }

</script>

<script src="${ctxPath}/static/modular/webSys/busiOrder/busiOrder_info.js"></script>
@}
