@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="busForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!--<#input id="id" name="" value="${item.id}" underline="true"/>-->
                            <#input id="ordernumber" name="订单编号" value="${item.ordernumber}" underline="true" readonly="true"/>
                            <#input id="goodstype" name="货物类型" value="${item.goodstype}" underline="true"/>
                            <#input id="goodsname" name="货物名称" value="${item.goodsname}" underline="true"/>
                            <#input id="goodsvolume" name="货物容量(单位：吨)" value="${item.goodsvolume}" underline="true"/>
                            <#input id="recephone" name="收货方电话" value="${item.recephone}" underline="true"/>
                            <#input id="receiver" name="收货方" value="${item.receiver}" underline="true" />
                            <#input id="trantype"  name= "运输方式" value="${item.trantype}" underline="true"/>

                </div>

                <div class="col-sm-6">
                            <#input  name="站点/港口" id="endpoint" type="text" value="${item.endpoint}" underline="true"/>
                            <#input id="consiphone" name="发货方电话" value="${item.consiphone}" underline="true"/>
                            <#input id="consignor" name="发货方" value="${item.consignor}" underline="true"/>
                            <#input id="creationtime" name="创建时间" value="${item.creationtime}" underline="true" readonly="true"/>
                            <#input id="ordercode" name="状态码" value="${item.ordercode}" underline="true" />
                            <#input id="note" name="备注" value="${item.note}" underline="true"/>
                              <#input id="id" name="" type="hidden" value="${item.id}"  />

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BusiOrderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BusiOrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/webSys/busiOrder/busiOrder_info.js"></script>
@}
