@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="voyageForm">

            <div class="row">
                <div class="col-sm-6 b-r" >
                    <#input id="id" name="" type="hidden"/>
                    <#input id="voyagenum" name="航次号" value="${item.voyagenum}" underline="true" readonly="true"/>
                    <#select name="轮船号" id="imo" value="${item.imo}" underline="true"/>
                    <#input id="starttime" name="开始时间" value="${item.starttime}" underline="true" readonly="true"/>
                    <#input id="endtime" name="结束时间" value="${item.endtime}" underline="true" readonly="true"/>
                    <#input id="boxnumber" name="集装箱数" value="${item.boxnumber}" underline="true"/>
                    <#input id="statecode" name="状态码" value="${item.statecode}" underline="true" readonly="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="id" name="" type="hidden"/>
                    <#input id="startpoint" name="起点" value="${item.startpoint}" underline="true"/>
                    <#input id="endpoint" name="终点" value="${item.endpoint}" underline="true"/>
                    <#input id="distance" name="里程" value="${item.distance}" underline="true"/>
                    <#input id="loadcode" name="装货码" value="${item.loadcode}" underline="true"/>
                    <#input id="unloadcode" name="卸货码" value="${item.unloadcode}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="VoyageInfoDlg.editSubmit()"/>
                </div>
                <div class="col-sm-1">
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="VoyageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/voyage/voyage_info.js"></script>
<script type="text/javascript">
    VoyageInfoDlg.getVoyageNum();
    var fo = document.getElementById("imo").focus();
</script>
@}
