@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="voyagenum" name="航线编号" underline="true"/>
                    <#select name="轮船号" id="imo" underline="true"/>
                    <#input id="starttime" name="开始时间" underline="true"/>
                    <#input id="endtime" name="结束时间" underline="true"/>
                    <#input id="consigncompany" name="发货公司" underline="true"/>
                    <#input id="recivecompany" name="收货公司" underline="true"/>
                    <#select name="集装箱号" id="boxnumber" underline="true"/>
                    <#input id="distance" name="里程数"/>
                </div>

                <div class="col-sm-6">
                    <#input id="statecode" name="状态码" underline="true"/>
                    <#input id="loadcode" name="装载码" underline="true"/>
                    <#input id="unloadcode" name="卸载码" underline="true"/>
                    <#input id="loadtype" name="类型" underline="true"/>
                    <#input id="endpoint" name="终止点" underline="true"/>
                    <#input id="startpiont" name="起始点" underline="true"/>
                    <div  class="col-sm-6 b-r" style="align:center;width:50%">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="VoyageInfoDlg.editSubmit()"/>
                    </div>
                    <div  class="col-sm-6 b-r" style="align:center;width:50%">
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="VoyageInfoDlg.close()"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/voyage/voyage_info.js"></script>
<script type="text/javascript">
    VoyageInfoDlg.getVoyageNum();
</script>
@}
