@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>航次管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="航次号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="按航次号搜索" icon="fa-search" clickFun="Voyage.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="VoyageTableToolbar" role="group">
                            @if(shiro.hasPermission("/voyage/add")){
                                <#button name="生成到达航次" icon="fa-plus" clickFun="Voyage.openAddVoyage()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/voyage/create")){
                                <#button name="添加出发航次" icon="fa-plus" clickFun="Voyage.openCreateVoyage()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/voyage/update")){
                                <#button name="修改选中航次" icon="fa-edit" clickFun="Voyage.openVoyageDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/voyage/delete")){
                                <#button name="删除选中航次" icon="fa-remove" clickFun="Voyage.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/voyage/finish")){
                            <#button name="结束" icon="fa-stop" clickFun="Voyage.finish()" space="true"/>
                            @}
                        </div>
                        <#table id="VoyageTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/voyage/voyage.js"></script>
@}
