<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.BusiWaybillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.BusiWaybill">
        <id column="id" property="id" />
        <result column="waybillid" property="waybillid" />
        <result column="trainnum" property="trainnum" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="consigncompany" property="consigncompany" />
        <result column="recivecompany" property="recivecompany" />
        <result column="boxnumber" property="boxnumber" />
        <result column="startpoint" property="startpoint" />
        <result column="endpoint" property="endpoint" />
        <result column="distance" property="distance" />
        <result column="statecode" property="statecode" />
        <result column="loadtype" property="loadtype" />
        <result column="loadcode" property="loadcode" />
        <result column="unloadcode" property="unloadcode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, waybillid, trainnum, starttime, endtime, consigncompany, recivecompany, boxnumber, startpoint, endpoint, distance, statecode, loadtype, loadcode, unloadcode
    </sql>

</mapper>
