<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.VoyagewillChartMapper">



    <!-- 通用查询结果列 -->
    <select id="list1" resultType="map">
       select DATE_FORMAT(starttime,'%Y%m') months,count(boxnumber)  from busi_voyage  group by months


    </select>
    <select id="list2" resultType="map">

 select DATE_FORMAT(starttime,'%Y%m') months,count(boxnumber) from busi_waybill  group by months

    </select>

</mapper>
