<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.VoyageshipMapper">



    <!-- 通用查询结果列 -->
    <select id="list" resultType="map">
        SELECT shipcname ,count(busi_voyage.imo)as sums from busi_voyage,enti_ship where busi_voyage.imo=enti_ship.imo GROUP BY busi_voyage.imo

    </select>

</mapper>
