<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.VoyageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Voyage">
        <id column="id" property="id" />
        <result column="voyagenum" property="voyagenum" />
        <result column="imo" property="imo" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="consigncompany" property="consigncompany" />
        <result column="recivecompany" property="recivecompany" />
        <result column="boxnumber" property="boxnumber" />
        <result column="distance" property="distance" />
        <result column="statecode" property="statecode" />
        <result column="loadcode" property="loadcode" />
        <result column="unloadcode" property="unloadcode" />
        <result column="loadtype" property="loadtype" />
        <result column="endpoint" property="endpoint" />
        <result column="startpoint" property="startpoint" />
        <result column="spareone" property="spareone" />
        <result column="sparetwo" property="sparetwo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, voyagenum, imo, starttime, endtime, consigncompany, recivecompany, boxnumber, distance, statecode, loadcode, unloadcode, loadtype, endpoint, startpoint, spareone, sparetwo
    </sql>
    <select id="getVoyageBoxNumsStartMonth" resultType="Integer">
        SELECT sum(boxnumber) FROM busi_voyage WHERE DATE_FORMAT( #{time}, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and startpoint=7
    </select>
    <select id="getVoyageBoxNumsStart" resultType="Integer">
        SELECT sum(boxnumber) FROM busi_voyage WHERE  startpoint=7
    </select>
    <select id="getVoyageBoxNumsEndMonth" resultType="Integer">
        SELECT sum(boxnumber) FROM busi_voyage WHERE DATE_FORMAT( #{time}, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and endpoint=7
    </select>
    <select id="getVoyageBoxNumsEnd" resultType="Integer">
        SELECT sum(boxnumber) FROM busi_voyage WHERE  endpoint=7
    </select>
</mapper>
